<%# #if logged_in? %>
<%#= @error %>
  <form action='/tweets' method="post">
    Content:
    <br>
    <textarea rows="4" cols="50" name="content" size="140"></textarea><br>
    Create Your Tweet:
    <br>
    <input type="submit" name="submit" id="submit">

  </form>

  <%# else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <%# end %>
