<h1>Welcome, Sign up!</h1>

<form  action='/tweets' method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="submit" name="Sign Up" value="Sign Up">
</form>