<h1><%=@user.username%></h1>

<% @user.tweets.each do |t|%>
  <li><a href="tweets/<%=t.id%>"><%=t.content%></a></li>
<% end%> 

<br>

<br>
<a href="/tweets">All tweets</a>
<br>
<a href="/tweets/new">Create new Tweet</a>
<br>
<a href="/logout">Log out</a>